body {
counter-reset: li; 
}

h1 {
font-family:Arial, Helvetica, sans-serif;
font-weight:bold;
}

h2 {
font-family:Arial, Helvetica, sans-serif;
font-weight:bold;
margin-top: 24px;
}

p {
font-family:Arial, Helvetica, sans-serif;
font-size: 16px;
}

ol {
margin-left:0; 
padding-left:0; 
}

ol > li {
position:relative; 
margin:0 0 10px 2em; 
padding:10px 10px; 
list-style:none; 
border-top:1px solid #317EAC;
background:rgba(49, 126, 172, 0.1);
}



li ol,
li ul {margin-top:6px;}
ol ol li:last-child {margin-bottom:0;}

.oyo ul {
list-style-type:decimal;
}

hr {
border: 1px solid #357FAA;
}

div#boxedtext {
background-color: rgba(86, 155, 189, 0.2);
padding: 20px;
margin-bottom: 20px;
font-size: 12pt;
}

div#template {
margin-top: 30px;
margin-bottom: 30px;
color: #808080;
border:1px solid #808080;
padding: 10px 10px;
background-color: rgba(128, 128, 128, 0.2);
border-radius: 5px;
}

